/* app css stylesheet */


/* prime faces components */
.ui-layout-pane {
    border: 0;
}

.hit-header {
    color: #ffffff;
    background-color: #18453B;
    padding: 5px 5px 5px 5px;
    font-size: 1.5em;
    margin: 0px 0px 0px 0px;
}

.hit-footer {
    color: #ffffff;
    background-color: #18453B;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 0.75em;
}
